
body {
    background-color: rgb(184, 144, 85);
    font-family: 'Amatic SC', cursive;
}

.hidden {
    display: none;
}

input[type=radio]:checked + img {
    /* box-shadow: 0px 0px 20px 20px rgb(255, 243, 193);
    border-radius: 50%; */
    -webkit-filter: drop-shadow(0px 0px 10px #a0bda1);
        filter: drop-shadow(0px 0px 10px #ffffff);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: cornsilk;

    
}



h1 {
    font-size: 75px;
    text-shadow: 0px 0px 20px white;
}

#scoreboard {
    font-size: 30px;
    display: flex;
    flex-direction: row;
}

#selections {
    padding-bottom: 50px;
}

#result-display {
    font-size: 60px;
}

.scores {
    padding: 15px;
}

button {
    border-radius: 50px;

    width: 150px;
    height: 75;
}